@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: Arial, sans-serif;
}

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(afbeeldingen/pexels-mlkbnl-20434443crop3.jpg) center/cover no-repeat;
    /*afbeelding in header en vult zonder vervorming*/
    color: white;
    text-align: left;
    position: relative;
    /* Zorgt dat h1 onderaan header komt */
    height: 300px;
}

header h1 {
    font-family: 'Young Serif', serif;
    margin: 0;
    padding: 10px;
    position: absolute;
    /*tekst onderaan header*/
    bottom: 2px;
    left: 20px;
    color: white;
}

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /*onder elkaar plaatsen ipv naast elkaar*/
    width: 100%;
}

[class*="col-"] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.links {
    background: #f4f4f4;
    padding: 20px;
}

.rechts {
    background: #ddd;
    padding: 20px;
}

.article {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-text {
    flex: 1;
    /* Neemt alle ruimte in die over is in het artikel */
    text-align: left;
}

.article img {
    width: 150px;
    height: auto;
    object-fit: contain;
    /*schaling afbeelding gelijk houden*/
    margin-left: 20px;
}


footer {
    text-align: center;
    padding: 10px;
    background: #395c54;
    color: white;
    height: 50px;
    width: 100%;

}

main {
    min-height: calc(100vh - 300px - 100px);

}

/* Mobile First hieronder desktop*/
@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .col-2 {
        width: 16.66%;
        flex-shrink: 0;
    }

    .col-9 {
        width: 75%;
        flex-grow: 1;
    }

    .article img {
        width: 250px;
    }
}
